<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input (keyup)="buscarMedico( input.value)" type="text" class="form-control" placeholder="Buscar médicos...">

            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">

        <div class="alert alert-warning text-center">
            <strong>Cargando...</strong>
            <br/>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                
                <div class="col-12">
                    <a class="btn btn-success waves-effect waves-light m-r-10 float-right" 
                            type="submit" routerLink="/medicos/nuevo">
                        <i class="fa fa-plus"></i> Crear Médico
                    </a>
                    <h3 class="card-title">Médicos registrados ( <small>{{ totalRegistros }}</small> )</h3>
                </div>

                <table class="table table-hover">
                    <thead>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Hospital</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let medico of medicos">
                            <td>
                                <img (click)="mostrarModal( medico )" [src]="medico.img | imagen:'medicos'" 
                                    class="img-50 img-circle pointer">
                            </td>
                            <td>
                                {{ medico.nombre }}
                            </td>
                            <td>
                                {{ medico.hospital? medico.hospital.nombre:'' }}
                            </td>
                            <td class="text-nowrap text-center">
                                <a [routerLink]="[medico._id]" class="btn btn-primary cursor mx-1">
                                    <i class="fa fa-pencil text-inverse"></i>
                                </a>
                                <button class="btn btn-danger mx-1" (click)="borrarMedico( medico )">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <button (click)="cambiarDesde(-5)" class="btn btn-secondary">Anteriores</button>
                <button (click)="cambiarDesde(5)" class="btn btn-secondary">Siguientes</button>
            </div>
        </div>
    </div>
</div>
