<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input (keyup)="buscarHospitales( input.value )" type="text" class="form-control" placeholder="Buscar hospitales...">

            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">

        <div class="alert alert-warning text-center">
            <strong>Cargando...</strong>
            <br/>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
        </div>
    </div>
</div>

<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="col-12">
                    <button class="btn btn-success waves-effect waves-light m-r-10 float-right" 
                        type="submit" (click)="crearHospital()">
                        <i class="fa fa-plus"></i> Crear Hospital
                    </button>
                    <h3 class="card-title float-left">Hospitales registrados ( <small>{{ totalRegistros }}</small> )</h3>
                </div>

                <table class="table table-hover float-none" *ngIf="!cargando">
                    <thead>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let hospital of hospitales">
                            <td>
                                <img (click)="mostrarModal( hospital )" [src]="hospital.img | imagen:'hospitales'" 
                                    class="img-50 pointer" [alt]="hospital.nombre">
                            </td>
                            <td>
                                <input type="text" 
                                    [(ngModel)]="hospital.nombre" 
                                    class="form-control w-100"
                                    placeholder="Nombre del hospital">
                            </td>
                            <td>
                                <button (click)="guardarHospital( hospital )" class="btn btn-outline-primary">
                                    <i class="fa fa-save"></i>
                                </button>
                                <button class="btn btn-outline-danger" (click)="borrarHospital( hospital )">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <button (click)="cambiarDesde(-5)" class="btn btn-secondary float-none">Anteriores</button>
                <button (click)="cambiarDesde(5)" class="btn btn-secondary float-none">Siguientes</button>
            </div>
        </div>
    </div>
</div>