<div class="fondo-negro animated fadeIn" [ngClass]="_modalUploadService.oculto">

    <div class="modal" style="display: block" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Imagen</h5>
            <button type="button" class="close"
              (click)="cerrarModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" align="center">
           
            <img *ngIf="!imagenTemp" [src]="'xxx' | imagen" class="w150">
            <img *ngIf="imagenTemp" [src]="imagenTemp" class="w150">

            <input (change)="seleccionImagen( $event.target.files[0] )" type="file">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
                (click)="cerrarModal()">
              Cerrar
            </button>
            <button (click)="subirImagen()" type="button" class="btn btn-primary">Subir Imágen</button>
          </div>
        </div>
      </div>
    </div>

</div>
