<h3>{{leyenda}}</h3>
<div class="input-group mb-3">
    <span class="input-group-btn">
        <button class="btn btn-primary" id="basic-addon1" type="button"
            (click)="cambiarValor(-5)">
        <i class="mdi mdi-minus"></i>
        </button>
    </span>

    <input #txtProgress type="number" class="form-control" aria-describedby="basic-addon1" name="progreso" [(ngModel)]="progreso" (ngModelChange)="onChanges($event)" min="1" max="100" />

    <button class="btn btn-primary rounded-0 rounded-right" id="basic-addon2" type="button" (click)="cambiarValor(+5)">
        <i class="mdi mdi-plus"></i>
    </button>
</div>