<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4>{{ graficos.grafico1.leyenda }}</h4>
                <app-grafico-dona [title]="graficos.grafico1.leyenda" [chartLabels]="graficos.grafico1.labels" [chartData]="graficos.grafico1.data"></app-grafico-dona>

            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4>{{ graficos.grafico2.leyenda }}</h4>
                <app-grafico-dona [title]="graficos.grafico2.leyenda" [chartLabels]="graficos.grafico2.labels" [chartData]="graficos.grafico2.data"></app-grafico-dona>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4>{{ graficos.grafico3.leyenda }}</h4>
                <app-grafico-dona [title]="graficos.grafico3.leyenda" [chartLabels]="graficos.grafico3.labels" [chartData]="graficos.grafico3.data"></app-grafico-dona>

            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4>{{ graficos.grafico4.leyenda }}</h4>
                <app-grafico-dona [title]="graficos.grafico4.leyenda" [chartLabels]="graficos.grafico4.labels" [chartData]="graficos.grafico4.data"></app-grafico-dona>

            </div>
        </div>
    </div>
</div>