#themecolors a {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.w150 {
    width: 150px;
}

.img-50 {
    height: 50px;
    width: 50px;
}

.oculto{
    display: none;
}

.fondo-negro {
    background-color: rgba( 0,0,0,0.4 );
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;

}